.layout-container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.layout-container .ant-row {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 15%;
}

.nav {
    height: 100%;
}

.content {
    height: 100%;
}

.content h2 {
    color: #387478;
    margin-left: 20px;
    font-size: x-large;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .nav {
        height: auto; /* Ajusta la altura automáticamente */
        margin: 0;
        padding: 0;
    }
    .header{
        height: auto;
    }
}