.form{
    width: 500px;
    max-width: 80%;
    height: 900px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #D5E8D4;
    border-radius: 60px;
    padding: 20px;
}

.circle {
    width: 150px; /* Tamaño base fijo */
    height: 150px; /* Mismo valor que el ancho para mantener la relación 1:1 */
    min-width: 120px; /* Tamaño mínimo para móviles */
    min-height: 120px;
    max-width: 180px; /* Tamaño máximo para pantallas grandes */
    max-height: 180px;
    border-radius: 50%; /* Círculo perfecto */
    background-color: #D5E8D4;
    margin: 0;
}

.form .ant-input,
.form .ant-input-password {
    width: 100%; 
    border-radius: 10px; 
    background-color: #fff; 
    color: #000; 
    font-size: 16px; 
}

/* Estilos para el botón */
.form .ant-btn {
    width: 100%;
    margin: 0;
    background-color: #D5E8D4; /* Fondo del botón */
    border: none; /* Elimina el borde */
    border-radius: 8px; /* Bordes redondeados */
    color: #000; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-weight: bold;
}
a{
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}
/* Media Queries para responsividad */

/* Media Queries ajustados */
@media (max-width: 1024px) {
    .form {
        width: 50%;
    }
    .circle {
        width: 15vw;
        height: 15vw;
    }
}

@media (max-width: 768px) {
    .form {
        width: 70%;
    }
    .circle {
        width: 20vw;
        height: 20vw;
    }
}

@media (max-width: 480px) {
    .form {
        width: 90%;
        border-radius: 30px;
    }
    .circle {
        width: 25vw;
        height: 25vw;
        min-width: 100px;
        min-height: 100px;
    }
}

/* Nuevo media query para pantallas muy grandes (>= 1000px) */
@media (min-width: 1000px) {
    .circle {
        width: 220px; /* Fija el tamaño máximo */
        height: 220px;
    }
}