/* Estilos base */
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre tarjetas */
}

.info-card .image {
    width: 64px;
    height: 64px;
    padding: 20px;
    flex-shrink: 0; /* Evita que la imagen se reduzca */
}

.info-card .data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Media Queries para responsividad */

/* Pantallas menores a 768px */
@media (max-width: 768px) {
    .info-card {
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .info-card .image {
        padding: 10px; /* Reduce el padding */
        margin-bottom: 10px; /* Añade espacio entre la imagen y el texto */
    }

    .info-card .data {
        width: 100%; /* Ocupa todo el ancho */
    }
}

/* Pantallas menores a 480px */
@media (max-width: 480px) {
    .info-card .image {
        width: 48px; /* Reduce el tamaño de la imagen */
        height: 48px;
        padding: 5px; /* Reduce el padding */
    }

    .info-card .data p {
        font-size: 0.9rem; /* Reduce el tamaño del texto */
    }
}