.list-button {
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}

p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right {
    color: #387478;
    display: flex;
    align-items: center;
    font-size: 32px;
    justify-content: center;
}

button {
    margin-left: 60px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .left {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .right {
        font-size: 24px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }

    button {
        margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
        margin-top: 10px; /* Añade un margen superior a los botones */
    }

    .row {
        padding-left: 10px; /* Reduce el padding en pantallas pequeñas */
        padding-right: 10px;
    }

    p {
        font-size: 14px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
}